/* custom environments */

.application-exercise {
  padding: 1em 1em 1em 4em;
  margin-bottom: 5px;
  margin-left: 5px;
  border: 1pt solid #d8d8d8;
  background: #ffffff 5px center/3em no-repeat;
  background-image: url("application-exercise.png");
}
.application-exercise:before {
  content: "Application exercise: ";
  clear: right;
  display: block;
  font-weight: bold;
  color: #A7D5E8;
}

.reading {
  padding: 1em 1em 1em 4em;
  margin-bottom: 5px;
  margin-left: 5px;
  border: 1pt solid #d8d8d8;
  background: #ffffff 5px center/3em no-repeat;
  background-image: url("book.png");
}
.reading:before {
  content: "Reading: ";
  clear: right;
  display: block;
  font-weight: bold;
  color: #1E5C65;
}
.reading ul li {
  list-style-type: square;
}

.slide-deck {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 1pt solid #80D4E6;
  background: #ffffff 5px center/3em no-repeat;
  background-image: url("slide-deck.png");
}

.lab{
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 1pt solid #FFD748;
  background: #ffffff 5px center/3em no-repeat;
  background-image: url("lab.png");
}

.homework{
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 1pt solid #F26BAA;
  background: #ffffff 5px center/3em no-repeat;
  background-image: url("hw.png");
}

.tutorial{
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 1pt solid #d8d8d8;
  background: #ffffff 5px center/3em no-repeat;
  background-image: url("tutorial.png");
}

.exam{
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 1pt solid #d8d8d8;
  background: #ffffff 5px center/3em no-repeat;
  background-image: url("exam.png");
}

.rstudio-cloud {
  padding: 1em 1em 1em 4em;
  margin-bottom: 5px;
  margin-left: 5px;
  background: #ffffff 5px center/3em no-repeat;
  background-image: url("cloud.png");
}
.rstudio-cloud:before {
  content: "RStudio Cloud: ";
  clear: right;
  display: block;
  font-weight: bold;
  color: #A7D5E8;
}


/* colors */

h1 {
  font-weight: bold;
  color: #A7D5E8; 
}

h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #1E5C65; 
}
