.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
gss2016.csv
*_cache
*_files
*.md
bookdown*
*.key
assignments/*/*.html
exams/*/*.html
extras/*/*.html
labs/*/*.html
project/*.html
project/*/*/*.html
slides/*/*.html