.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
gss2016.csv
*_cache
*_files
*.md
bookdown*
*.key
*.html
!docs/*.html
!docs/*/*.html
!docs/*/*/*.html
!docs/*/*/*/*.html
!website/*.html
!website/*/*.html
!website/*/*/*.html
!website/*/*/*/*.html
