/* Custom fonts */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Fira+Mono|Open+Sans);

/* Turn off slide numbers */
/* Don't want them on videos! */
.remark-slide-number {
  display: none;
}

/* colors */
:root {
  --dark-blue: #002b36;
  --light-blue: #A7D5E8;
  --green: #8fada7;
  --gray: #A7A7A7;
  --pink: #E9AFA3;
  --yellow: #e9d968;
  --beige: #fdf6e3;
  --green-faint: #8fada750;
  --light-blue-faint: #A7D5E850;
  --pink-faint: #E9AFA350;
}

/* Font colors */
.dark-blue {
  color: var(--dark-blue);
}
.light-blue {
  color: var(--light-blue);
}
.green {
  color: var(--green);
}
.gray {
  color: var(--gray);
}
.pink {
  color: var(--pink);
}
.yellow {
  color: var(--yellow);
}


/* Title slide customization */
.title-slide h1, h2, h3 {
  text-align: left;
  font-weight: bold;
  font-family: Raleway;
}

.title-slide h2 {
  color: var(--green);
}

.title-slide h3 {
  color: var(--beige);
  font-size: 130%;
}

.title-slide a {
  color: var(--gray);
}

/* Alignment */
.right{
  text-align: right;
}
.center{
  text-align: center;
}

/* Margins around headers */
/* To make the most of the slide real estate */

h1, h2, h3 {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 5px;
  margin-left: 5px;
}

/* Font sizes */
.huge {
   font-family: 'Montserrat', sans-serif;
   font-size: 400%;
   font-weight: bold;
}
.larger { font-size: 250% }
.large { font-size: 150% }
.midi { font-size: 85% }
.small { font-size: 70% }
.xsmall { font-size: 65% }
.tiny { font-size: 50% }

.midi .remark-code { font-size: 85%; }
.small .remark-code { font-size: 70%; }
.xsmall .remark-code { font-size: 65%; }
.tiny .remark-code { font-size: 50%; }

/* Huge numbers */

.huge-blue-number {
 font-family: 'Montserrat', sans-serif;
 font-size: 1700%;
 font-weight: bold;
 color: var(--light-blue);
}
.huge-pink-number {
 font-family: 'Montserrat', sans-serif;
 font-size: 1700%;
 font-weight: bold;
 color: var(--pink);
}

/* Handwriting */
.hand{
  font-family: 'Gochi Hand', cursive;
  font-size: 125%;
}

/*Alternative two-column layouts*/

  /*Left 70% - Right 30% */
.pull-left-wide {
  width: 70%;
  float: left;
}
.pull-right-narrow {
  width: 27%;
  float: right;
}
.pull-right-narrow ~ * {
  clear: both;
}

  /*Left 30% - Right 70% */
.pull-left-narrow {
  width: 30%;
  float: left;
}
.pull-right-wide {
  width: 67%;
  float: right;
}
.pull-right-wide ~ * {
  clear: both;
}

/* Footnote */
.footnote {
  padding-left: 30px;
}


/* Square bullets for lists */

ul{
  list-style-type: square;
}

/* Footer */
div.my-footer {
    border-top: 1px solid var(--gray);
    position: absolute;
    bottom: 0px;
    height: 40px;
    width: 90%;
}
div.my-footer span {
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    left: 30px;
    color: #8A8A8A;
}
div.my-footer a {
    font-size: 20px;
    color: #8A8A8A;
}


/* Custom boxes */

.question, .your-turn, .tip {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 6px;
  margin-top: 6px;
  color: white;
}

.question{
  border-left: solid 5px var(--green);
  background-color: var(--green-faint);
}

.tip {
  border-left: solid 5px var(--pink);
  background-color: var(--pink-faint);
}

.your-turn {
  border-left: solid 5px var(--light-blue);
}


/* Quotes */
blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}

/* Embedded images */
img, video, iframe {
  max-width: 100%;
}

/* Image overlay */
.imageoverlay {
  position: absolute;
  top: 10%;
  left: 65%;
  border: 1px solid #ddd;
}

/* Logo */
.remark-slide-content:after {
    content: "";
    position: absolute;
    bottom: 5px;
    right: 1100px;
    height: 60px;
    width: 81px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("dsbox-hex.png");
}

/* Media */
@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

/* Datatable headers */
div.datatables {
    color: #fff;
}
