@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Fira+Mono|Open+Sans);

body { 
  font-family: 'Source Sans Pro'; sans-serif;
  color: #333333;
}
p {
  padding: 0;
  margin: 0px;
}
h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  color: #A7D5E8;
  font-size: 12px;
  margin: 0 0 0.5em 0;
}
h1, h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  color: #A7D5E8;
  margin-top: 0px;
  margin-bottom: 20px;
}
a, a > code {
  font-family: 'Fira Mono', monospace;
  color: #1E5C65;
  text-decoration: none;
}

.remark-slide-content{
  font-size: 26px;
}


/* Sections */
.inverse {
  background-color: #A7D5E8;
  color: #ffffff;
}
.inverse h1, .inverse h2, .inverse h3 {
  color: #f3f3f3;
}



/* Font sizes */
.large { font-size: 130% }
.midi { font-size: 85% }
.small { font-size: 70% }
.xsmall { font-size: 60% }
.tiny { font-size: 50% }



/* Code formatting */
.remark-code-line-highlighted {
  background-color: #A7D5E8;
}

.remark-code { 
  font-family: 'Fira Mono', monospace;
  font-size: 80%;
}

.remark-inline-code { 
  font-family: 'Fira Mono', monospace;
  font-size: 100%;
  color: #869496;
}


/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.center {
  text-align:center;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ * {
  clear: both;
}


/* Custom boxes */

.question {
  border-left: solid 5px #1E5C65;
  background-color: #1E5C6530;
  padding: 10px 16px;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 90%;
  color: #1E5C65;
}

.alert {
  border-right: solid 5px #A7D5E8;
  background-color: #A7D5E830;
  padding: 1px 16px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.instructions {
  border-left: solid 5px #FFD748;
  background-color: #FFD74850;
  padding: 10px 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.instructions li::before {
  content: ">"; 
  color: #FFD748;
  display: inline-block; 
  margin-left: -1.5em
}

.question, .your-turn, .tip {
  padding: 5px 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.question{
  border-left: solid 5px #1E5C65;
  background-color: #d2dee0;
}

.your-turn {
  border-left: solid 5px #FFD748;
  background-color: #fff9e5;
}
.your-turn:before{
  content: "Your turn!";
  font-size: 150%;
  font-weight: bold;
  color: #FFD748;
  margin-bottom: 10px;
}
.your-turn ul li:before {
  content: "✚"; 
  color: #FFD748; 
  display: inline-block; 
  width: 1.5em;
  margin-left: -1.5em
}

.tip {
  border-right: solid 5px #F26BAA;
  background-color: #E7E7E7;
}
.tip:before{
  content: "Tip:";
  font-size: 120%;
  font-weight: bold;
  color: #F26BAA;
  margin-bottom: 5px;
}


/* Quotes */
blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}


/* Lists */
ul {
  list-style: none;
}
ul li:before {
  content: "✚"; 
  color: #A7D5E8; 
  display: inline-block; 
  width: 1.5em;
  margin-left: -1.5em
}
ul li{
  margin: 10px 0;
}



/* Embedded images */
img, video, iframe {
  max-width: 100%;
}


/* Tables */
table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee }

/* Footer */
div.my-footer {
    background-color: #ffffff;
    border-top: 1px solid #A7D5E8;
    position: absolute;
    bottom: 0px;
    left: 80px;
    height: 35px;
    width: 100%;
}
div.my-footer span {
    font-size: 12pt;
    position: absolute;
    color: #333333;
    left: 20px;
    bottom: 10px;
}
div.my-footer a {
    font-size: 12pt;
    color: #333333;
}


/* Footnote */
.footnote {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 70%;
}


/* Logo */
.remark-slide-content:after {
    content: "";
    position: absolute;
    bottom: 5px;
    right: 1100px;
    height: 60px;
    width: 81px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("dsbox-hex.png");
}


/* Slide number */
.remark-slide-number {
  color: #333333;
  opacity: 1;
  font-size: 12pt;
}

.title-slide .remark-slide-number {
  display: none;
}


/* Media */
@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

/* Image overlay */
.imageoverlay {
  position: absolute;
  top: 10%;
  left: 65%;
  border: 1px solid #ddd;
}


/* What is this? */
.element.style {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 685px;
    width: 700px;
}


/* Handwriting */

.hand{
  font-family: 'Gochi Hand', cursive;
  font-size: 125%;
}
.hand-blue{
  font-family: 'Gochi Hand', cursive;
  color: #A7D5E8;
  font-size: 125%;
}
.hand-pink{
  font-family: 'Gochi Hand', cursive;
  color: #F26BAA;
  font-size: 125%;
}

/* Custom fonts */

.huge-blue {
 font-family: 'Montserrat', sans-serif;
 font-size: 400%;
 font-weight: bold;
 color: #A7D5E8;
}

.huge-pink {
 font-family: 'Montserrat', sans-serif;
 font-size: 400%;
 font-weight: bold;
 color: #F26BAA;
}
